@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0d062d;
  border-radius: 6px;
}

::selection {
  color: white;
  background: #0d062d;
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}